<html>
<head>
    <title>Mosi frændi</title>
</head>
<body>
    <section class="grid2p">
        <div>
            <h4>Mosi frændi</h4>
            <ul>
                <li>Aðalbjörn Þórólfsson, bassi</li>
                <li>Ármann Halldórsson, trommur</li>
                <li>Björn Gunnlaugsson, gítar</li>
                <li>Gunnar Hansson, hljómborð</li>
                <li>Magnús J. Guðmundsson, gítar</li>
                <li>Sigurður H. Pálsson, söngur</li>
            </ul>
            <h5>um hljómsveitina</h5>
            <p>Mosi frændi er hljómsveit sem var stofnuð í mentaskólanum við hamrahlíð og þeir komu fyrst framm árið 1986 í norður kjallaranum í MH. Þeir héldu áfram að spila þangað til þeir héldu kveðju tónleika þegar þeir ætluða að segja gott, en 2004 ákvöðu þeir að taka aftur upp bandið og byrjuðu þeir að spila 2009 og hafa þeir haldið áfram að spila síðan það.</p>
            <h4>Tónlist</h4>
            <ol>
                <li>1986 - Suzy Creamcheese for President (hljómsnælda)</li>
                <li>1987 - Snarl 2 (safnsnælda með fleirum)</li>
                <li>1988 - Ástin sigrar (smáskífa)</li>
                <li>2009 - "Greatest (s)hits" (geisladiskur)</li>
                <li>2010 - Grámosinn gólar (tónleikadiskur)</li>
                <li>2017 - Óbreytt ástand (breiðskífa)</li>
            </ol>
        </div>
        <div>
            <img src="/assets/images/Mosi-fraendi.jpg" alt="mynd af hljómsveitini Mosi frændi">
            <div class="iframe_container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BQxI-i79wNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</body>
</html>