<html>
    <head>
        <title>Skálmöld</title>
    </head>
<body>
        <h2>hljómsveitir og meðlimir þeirra:</h2>
        <h4>Skálmöld</h4>
            <ul>
                <li>Björgvin Sigurðsson – söngur og gítar
                <li>Baldur Ragnarsson – gítar og söngur
                <li>Snæbjörn Ragnarsson – bassi og bakraddir
                <li>Þráinn Árni Baldvinsson – gítar og bakraddir
                <li>Gunnar Ben – hljómborð, óbó og söngur
                <li>Jón Geir Jóhannsson – trommur og söngur
            </ul>
            <h5>Um Hljómsveitina</h5>
            <p>Skálmöld er íslensk þungrokks hljómsveit sem spilar þjóðlagaþungarokk. Hljómsveitin byrjaði sem áhuga mál en hélt áfram að gróa.Árið 2011 sömdu við naplam records sem buðu þeim að spila á þungarokks tónleikum. Árið 2013 héldu þeir tónleika í hörpu með sinfóníuhljómsveit íslands</p>
            <h4>Tónlst</h4>
                <ol>
                    <li>2010: Baldur</li>
                    <li>2012: Börn Loka</li>
                    <li>2014: Með vættum</li>
                    <li>2016: Vögguvisur Yggdrasils</li>
                    <li>2018: Sorgir</li>
                </ol>
    <img src="/assets/images/Skalmold.jpg" alt="mynd af hljómsveitini Skálmöld">
        <div class="iframe_container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yAyFyEFoZvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</body>
</html>
